<!DOCTYPE html>
<html>
    <head>
        <title>
            Enter Data
        </title>
    </head>
    <body>
        <form method = "POST" action = "/">
            <div>
                <label value = 'Name'>Name</label>
                <input type = 'text' name = 'Name' required></input>
            </div>
            <div>
                <label value = 'Summary'>Summary</label>
                <input type = 'text' name = 'Summary'></input>
            </div> 
            <div>
                <label value = 'Type'>Type</label>
                <input type = 'text' name = 'Type'></input>
            </div>
            <input type = 'submit'></button>
        </form>
    </body>
</html>