<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" href="styles.css">
        <title>
            Table of Data
        </title>
    </head>
    <body>
<ul>
<table class="table-style">
<h1><%= title %>:</h1>	
  <tr>
    <th>Name</th>
    <th>Distance</th> 
    <th>Other</th>
	<th>ID</th>
	<th>Type</th>
	<th>Summary</th>
  </tr>
  <tr>
    <th>Test</th>
    <th>50</th> 
    <th>Knuckles</th>
	<th>123</th>
	<th>Abuser</th>
	<th>Do you know the way</th>
  </tr>
</table>
    </body>
</html>